@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Cores:*/
:root {
    --VerdeFloresta: #002F1F;
    --VerdeClaro: #02735E;
    --VerdeLeve: #03A678;
    --LaranjaForte: #F27405;
    --VermelhoFogo: #731702;
}

body {
    background-color: var(--VerdeFloresta);
    font-family: "Montserrat", Arial, sans-serif; 
    line-height: 1.5;            
}

h1 {
    display: inline-block;
    color: var(--VermelhoFogo);
    font-size: 6rem;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 800;
    text-align: left;
}

header {
    text-align: center;
}

h2 {
    display: inline-block;
    margin-top: 45px;
    color: var(--VerdeLeve);
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 600;
    border: 3px solid var(--VerdeClaro);
    border-radius: 10px;
    padding: 10px 15px;
}

nav ul {
    display: flex;
    font-size: 20px;
    color: var(--VerdeFloresta);
    padding: 30px;
    background-color: var(--LaranjaForte);
    list-style: none; /* Faz os itens ficarem lado a lado */
    justify-content: center; /* Centraliza o menu horizontalmente */
    gap: 3rem; /* Espaço entre os itens */
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--VermelhoFogo);
}

section {
    padding: 50px 20px;
    text-align: center;
}

#action {
    color: var(--LaranjaForte);
}

p {
    font-size: 1.2rem;    
}

.botao {
    font-size: 1.5rem;
}

.icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #02735E 4px dashed;
    display: block;
    margin: 20px auto;
}

/*
Título: 6rem
h2: 3rem 

OBS: falta criar as páginas e criar os endereços pro href funcionar

*/